# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\bazur\OneDrive - Escuela Superior Politécnica del Litoral\9vo Semestre\Pasantias\Sistemas-Embebidos-2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
